body {
  font-size: 160%;
  line-height: inherit; /* pour le décalage entre side bar et nav bar*/
}

/* colors */
.skin-green .main-header .navbar {
  background-color: #1e6a5b;
}

.skin-green .main-header .logo {
  background-color: #1e6a5b;
}

.skin-green .main-header .logo:hover {
  background-color: #1e6a5b;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: #c5267a;
}

.box.box-solid.box-success > .box-header {
  background: #1e6a5b;
  background-color: #1e6a5b;
}

.box.box-solid.box-success {
    border: 1px solid #1e6a5b;
}

.skin-green .sidebar-menu > li.active > a, .skin-green .sidebar-menu > li:hover > a {
    color: #c5267a;
    border-left-color: #1e6a5b;
}

a:focus, a:hover {
  color: #c5267a;
}

a {
  color: #1e6a5b;
}

/* fixed header and sidebar */
.main-header {
  position: fixed;
  width: 100vw;
}

.sidebar {
  position: fixed;
  width: 230px;
}

.content {
  /*margin-top: 38px;  PB responsive, résoudre avec padding ? */
}

/* hr color */
hr {
  border-top: 1px solid #1e6a5b;
}


/* markdown tabs and their images */
.markdown-tab {
  padding-left: 2em;
  padding-bottom: 5vw;
  padding-top: 50px;
}

.markdown-tab p {
  padding-right: 10vw;
}

.responsive-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vw; 
  max-height: 400px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85vw; 
  max-width: 500px;
}

.logo-10 {
  height: 10vw;
  max-height: 80px;
  display: inherit;
  margin: 5px;
}

.center{
  text-align: center;
}


#situation_map {
  height: 100vh !important;
}



