body {
  font-size: 160%;
  line-height: inherit; /* pour le décalage entre side bar et nav bar*/
}

/* colors */
.skin-green .main-header .navbar {
  background-color: #16771f;
}

.skin-green .main-header .logo {
  background-color: #ffffff;
  color: #ffffff;
}

.skin-green .main-header .logo:hover {
  background-color: #ffffff;
}

.skin-green .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: #eb8200;
  color: #ffffff;
}

.box.box-solid.box-success > .box-header {
  background: #16771f;
  background-color: #16771f;
}

.box.box-solid.box-success {
    border: 1px solid #16771f;
}

.skin-green .sidebar-menu > li.active > a, .skin-green .sidebar-menu > li > a {
    color: #ffffff;
}

.skin-green .sidebar-menu > li.active > a, .skin-green .sidebar-menu > li:hover > a {
    color: #eb8200;
    border-left-color: #16771f;
}

a:focus, a:hover {
  color: #eb8200;
}

a {
  color: #8d4e00;
}

.content-wrapper {
  background-color: #ffffff;
}

blockquote {
  border-left: 5px solid #16771f;
}

/* fixed header and sidebar */
.main-header {
  position: fixed;
  width: 100vw;
}

.sidebar {
  position: fixed;
  width: 230px;
}

.content {
  /*margin-top: 38px;  PB responsive, résoudre avec padding ? */
}

/* hr color */
hr {
  border-top: 1px solid #1e6a5b;
}


/* markdown tabs and their images */
.markdown-tab {
  padding-left: 2em;
  padding-bottom: 5vw;
  padding-top: 50px;
}

.markdown-tab p {
  padding-right: 10vw;
}


.responsive-img {
  display: inline-block;
  margin: 1em;
  height: 50vw; 
  max-height: 400px;
}

.responsive-img-600 { 
  display: inline-block;
  margin: 1em;
  max-height: 90vh;
  height: 600px;
}

.center {
  text-align: center;
}


#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85vw; 
  max-width: 500px;
}

.logo-10 {
  height: 10vw;
  max-height: 80px;
  display: inherit;
  margin: 5px;
}

/* dans les helper 
.helper-img {
  width: 80%;
  max-width: 400px;
  margin: 0.5em;
}*/


/* carte HLB à la Réunion */
#situation_map {
  height: 100vh !important;
}



